@import "~bootstrap/dist/css/bootstrap.min.css";

.ys-groups-dashboard {
    margin-top: 60px;

    .nav-tab {
        &:hover {
            text-decoration: none !important;
        }
    }

    form {
        button {
            //background-color: #4ab6a4 !important;
            //border-color: #4ab6a4 !important;

            color: #2271b1;
            border-color: #2271b1;
            background: #f6f7f7;

            &:hover {
                //background-color: #fff !important;
                //color: #4ab6a4 !important;
                color: #2271b1;
                border-color: #2271b1;
                background: #f6f7f7;
            }
        }
    }

    .ys-group-form-container {
        margin-top: 20px;
    }
}