@import "~bootstrap/dist/css/bootstrap.min.css";

.ys-groups-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .ys-group {
        width: 300px;
        text-align: center;
        margin-bottom: 20px;
    }
}