@import "../variables";

.ys-group-new-post-form {
  background: $blanc;
  box-shadow: 0 1px 3px #a7a5a5;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 7px;
  position: relative;

  .user-avatar {
    .avatar {
      img {
        width: 45px;
        height: 45px;
        border-radius: 50%;
      }
    }
  }

  .post-input {
    padding: 5px 10px 5px 20px;
    width: 100%;
    background: #f7f7f7;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1px;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
    color: #6d6d6d;

    .modal-dialog {
      margin-top: 250px;

      .modal-content {
        border: none;

        .modal-body {
          .modal-post-content {
            padding: 10px 20px;
            position: relative;
          }
        }

        .modal-footer {
          border: none;

          button {
            width: 100%;
          }
        }
      }
    }
  }
}