@import "new-post-form";

.ys-group-posts {
    .post {
        background: #fff;
        box-shadow: 0 1px 3px #a7a5a5;
        margin-bottom: 20px;
        padding: 10px;
        border-radius: 7px;
        position: relative;

        .post-header {
            .post-author {
                .author-name {
                    margin-left: 15px;
                }

                img {
                    width: 45px;
                    height: 45px;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: 50%;
                    background-color: #efefef;
                }

                .post-date {
                    .date {
                        font-size: 13px;
                    }
                }
            }
        }

        .post-content {
            .content {
                position: relative;
                line-height: 2.75rem;
                padding: 5px 8px;
                font-size: 18px;
                font-weight: 400;
                overflow: hidden;
            }

            .read-more {
                border: none !important;
                color: #4ab8a6;
                background: transparent;
                font-size: 18px;
                font-weight: 500;
                margin: 15px 0 10px;
                transition: 0.3s all ease-in-out;
            }
        }
    }
}