$bleu_turquoise: #4ab8a6;
$bleu_marine: #1d3058;
$gris: #333333;
$blanc: #ffffff;
$rgba-255-0_8: rgba(255, 255, 255, 0.8);
$bleu_turquoise_70: #92d3c8;
$bleu_turquoise_95: #edf8f6;
$dark-gray-44: #707070;
$light-gray-90: #e6e6e6;
$light-gray-80: #cccccc;
$noir: #000000;